@{
    ViewData["Title"] = "113年技優甄審資料";
}

<div class="container my-5">
    <h2 class="text-center mb-4">113年技優甄審資料</h2>
    <div class="ratio ratio-16x9 shadow-sm mb-4">
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQa2a8HRCx6-mKfAHUu64k4S67V5slQ7V-kJJWZe7iNI6UBW6zKMWl5OLONDsrXWeJ8_iMh2HJB4Mby/pubhtml?;single=true&amp;widget=true&amp;headers=false&amp;chrome=false"
                width="100%"
                height="600"
                frameborder="0"
                allowfullscreen>
        </iframe>
    </div>
    <div class="text-center">
        <a href="https://docs.google.com/spreadsheets/d/1ItEwaNOheD-JNnu_DKJnxaqz3mbgcCD_zjsyyIkpUjk/edit?usp=sharing"
           target="_blank"
           class="btn btn-primary btn-lg">
            查看完整版
        </a>
    </div>
    <div class="ratio ratio-16x9 shadow-sm mb-4">
        <iframe src="https://drive.google.com/embeddedfolderview?id=1I92_5l4o001gsHvsIyhu22zVS9ApXJyQ#list"
                width="100%"
                frameborder="0"
                allowfullscreen>
        </iframe>
    </div>
</div>


