@{
    ViewData["Title"] = "111年技優甄審資料";
}

<div class="container my-5">
    <h2 class="text-center mb-4">111年技優甄審資料</h2>
    <div class="ratio ratio-16x9 shadow-sm mb-4">
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTc3dWZzXPgAXq-f1QIs64O9hbJxcPebls8Xe8Wkg5W-UfY433s2C6Rb1pLyNIvfw/pubhtml?gid=563203429&amp;single=true&amp;widget=true&amp;headers=false&amp;chrome=false"
                width="100%"
                height="600"
                frameborder="0"
                allowfullscreen>
        </iframe>
    </div>
    <div class="text-center">
        <a href="https://docs.google.com/spreadsheets/d/1qoQVBE1qiUj70X6hoTx5CSzLA7uZrpRZ/edit?usp=sharing&ouid=104764548078276056019&rtpof=true&sd=true"
           target="_blank"
           class="btn btn-primary btn-lg">
            查看完整版
        </a>
    </div>
</div>


