@{
    ViewData["Title"] = "112年技優甄審資料";
}

<div class="container my-5">
    <h2 class="text-center mb-4">112年技優甄審資料</h2>
    <div class="ratio ratio-16x9 shadow-sm mb-4">
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ1-kemepqgBhMpaj-DtC4e2YTvVVQW_DkBlFmJ0sRaESpYs-b_16EIVDLuU6fN6w/pubhtml?;single=true&amp;widget=true&amp;headers=false&amp;chrome=false"
                width="100%"
                height="600"
                frameborder="0"
                allowfullscreen>
        </iframe>
    </div>
    <div class="text-center">
        <a href="https://docs.google.com/spreadsheets/d/11o7srL9M-k4uyGLyoHOIAvmudHN-22IO/edit?usp=sharing&ouid=104764548078276056019&rtpof=true&sd=true"
           target="_blank"
           class="btn btn-primary btn-lg">
            查看完整版
        </a>
    </div>
</div>


